/* div containing input element and reset button*/
.change-size {
  display: flex;
  margin-top: 20px;
  gap: 5px;
}
/* div containing all body elements */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  min-height: 300px;
  width: 60vw;
  height: 60vw;
}
/* div containing all buttons */
.buttons {
  display: flex;
  margin-top: 20px;
  gap: 5px;
}
/* reset board button */
#size-input {
  width: 100px;
}
/* Etch-a-Sketch grid */
.board {
    display: grid;
   
}
/* universal selector setting all elements to border-box */
* {
    box-sizing: border-box;
  }
  /* individual div elements (boxes) inside the board */
  .board>div {
    outline: 1px solid black;
    width: 25px;
    height: 25px;
  }
  
 
  
  