/* div containing input element and reset button*/
.change-size {
  display: flex;
  margin-top: 20px;
  gap: 5px;
}
/* div containing all body elements */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  min-height: 300px;

}
/* div containing all buttons */
.buttons {
  display: flex;
  margin-top: 20px;
  gap: 15px;
}
/* reset board button */
#size-input {
  width: 200px;
  padding: 5px;
  gap: 4px;
  font-family:'Courier New', Courier, monospace;
  font-size: 15px;
}
/* Etch-a-Sketch grid */
.board {
    align-content: center;
    display: grid;
    height: 30vw;
    width: 30vw;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.3), 0 0 0 2px rgb(225, 225, 225),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
/* universal selector setting all elements to border-box */
* {
    box-sizing: border-box;
  }
  /* html */
  html {
    height: 100%;
  }
  /* body */
  body {
    background: linear-gradient(to right, rgb(74, 194, 154), rgb(189, 255, 243));
    background-repeat: no-repeat;
  }
  /* individual div elements (boxes) inside the board */
  .board>div {
    width: auto;
    height: auto;
  }
  /* pointer cursor */
  .board:hover {
    cursor: pointer;
  }
/* color buttons*/
.color-buttons {
  padding: 5px;
  gap: 4px;
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  background-color: white;
  outline: 1px outset black;
}

#grey-button {
  padding: 5px;
  gap: 4px;
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  background-color: grey;
  outline: 1px outset black;
  
}

#black-button {
  padding: 5px;
  gap: 4px;
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  background-color: black;
  outline: 1px outset black;
  color: white;
}

#random-button {
  padding: 5px;
  gap: 4px;
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  background:linear-gradient(to right, purple, lightblue, red);
  outline: 1px outset black;

}

#eraser-button {
  padding: 5px;
  gap: 4px;
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  background-color: white;
  outline: 1px outset black;
}
/* title */
.title {
  font-family:'Courier New', Courier, monospace;
  font-size: 40px;
  text-decoration: underline;
}
/* color mode notification */
.color-mode {
  margin: 10px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}
  
 
  
  